################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HybridConnectionWebSocket/.vs/HybridConnectionWebSocket/v15/Server/sqlite3
/HybridConnectionWebSocket/Listener/bin/Debug/netcoreapp2.2
/HybridConnectionWebSocket/Listener/obj
/HybridConnectionWebSocket/Sender/bin/Debug/netcoreapp2.2
/HybridConnectionWebSocket/Sender/obj
/AzureRelayHTTP/.vs/AzureRelayHTTP/v15/Server/sqlite3
/AzureRelayHTTP/Listener/bin/Debug/netcoreapp2.2
/AzureRelayHTTP/Listener/obj
/AzureRelayHTTP/Sender/bin/Debug/netcoreapp2.2
/AzureRelayHTTP/Sender/obj
/HybridConnectionWebSocket/.vs/HybridConnectionWebSocket/v15
/AzureRelayHTTP/.vs/AzureRelayHTTP/v15
/AzureRelayWCF/.vs/AzureRelayWCF/v15/Server/sqlite3
/AzureRelayWCF/WcfClient/bin/Debug
/AzureRelayWCF/WcfClient/obj/Debug
/AzureRelayWCF/WcfContrats/bin/Debug
/AzureRelayWCF/WcfContrats/obj/Debug
/AzureRelayWCF/WcfListenerConsole/bin/Debug
/AzureRelayWCF/WcfListenerConsole/obj/Debug
